In [1]:
import numpy as np
import pandas as pd

In [2]:
rawdata = pd.read_csv("./Family Income and Expenditure.csv")
rawdata

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1
5,152883,CAR,73326,Wage/Salaries,0,29065,25190,15336,8572,2614,...,0,1,0,0,0,4,0,0,0,1
6,198621,CAR,104644,Wage/Salaries,0,40992,36312,12968,12310,2565,...,0,0,0,0,0,2,0,0,0,1
7,134961,CAR,95644,Other sources of Income,1,37168,28156,14640,15896,3365,...,0,1,0,0,0,2,0,0,0,1
8,171152,CAR,67348,Other sources of Income,0,23117,15845,11464,6685,1370,...,0,0,0,0,0,2,0,0,0,0
9,625753,CAR,158721,Enterpreneurial Activities,0,56003,43239,26488,25678,3880,...,1,0,0,1,0,4,1,0,0,0
10,147005,CAR,79530,Enterpreneurial Activities,1,36588,30167,11174,7674,1709,...,1,0,0,0,0,1,0,0,0,1
11,253130,CAR,111250,Wage/Salaries,0,46521,39217,20548,15841,1475,...,0,0,0,0,0,6,0,0,0,0
12,101111,CAR,88523,Enterpreneurial Activities,1,40531,36200,14322,8344,2200,...,0,0,0,0,0,1,0,0,0,0
13,128214,CAR,62262,Enterpreneurial Activities,1,26874,23130,10034,6971,2350,...,0,1,0,0,0,1,0,0,0,1
14,91525,CAR,45487,Other sources of Income,1,19668,16142,5430,6670,1860,...,0,0,0,0,0,0,0,0,0,0
15,171742,CAR,70892,Other sources of Income,0,30594,26788,10336,7900,1503,...,0,0,0,0,0,0,0,0,0,0
16,95385,CAR,83790,Wage/Salaries,1,41701,36200,11226,8806,1434,...,1,0,0,0,0,1,0,0,0,0
17,142843,CAR,85370,Wage/Salaries,0,44006,38213,9840,9317,1231,...,0,0,0,0,0,2,0,0,0,0
18,88170,CAR,64705,Enterpreneurial Activities,1,31984,28659,8048,7625,1625,...,0,0,0,0,0,1,0,0,0,0
19,97018,CAR,82534,Enterpreneurial Activities,1,27283,22503,10162,12370,2380,...,0,0,0,0,0,1,0,0,0,0
20,123015,CAR,73459,Enterpreneurial Activities,1,32692,28520,6638,11734,2120,...,0,0,0,0,0,1,0,0,0,0
21,100900,CAR,67830,Enterpreneurial Activities,1,32678,28964,7510,7746,1410,...,0,0,0,0,0,2,0,0,0,0
22,153312,CAR,164860,Other sources of Income,0,43076,38372,11884,15699,4510,...,0,0,0,0,0,1,0,0,0,1
23,96814,CAR,64696,Wage/Salaries,0,30820,27150,8276,9565,1490,...,0,0,0,0,0,1,0,0,0,0
24,91785,CAR,57112,Enterpreneurial Activities,1,18215,16078,9562,7555,1550,...,0,0,0,0,0,2,0,0,0,0
25,83600,CAR,59819,Enterpreneurial Activities,1,19491,15928,12557,9245,1710,...,0,0,0,0,0,2,0,0,0,0
26,84330,CAR,45509,Other sources of Income,0,15843,14118,7937,9160,1470,...,0,0,0,0,0,0,0,0,0,0
27,164830,CAR,76151,Enterpreneurial Activities,0,29144,22565,15591,12229,2120,...,1,0,0,0,0,2,0,0,0,0
28,87612,CAR,88484,Enterpreneurial Activities,0,41313,36563,15018,11071,2210,...,0,0,0,0,0,1,0,0,0,0
29,96862,CAR,82647,Enterpreneurial Activities,1,34152,28252,12006,9480,1785,...,1,0,0,0,0,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41514,126750,XII - SOCCSKSARGEN,23409,Wage/Salaries,2,11196,9786,2214,3719,445,...,1,1,1,0,0,2,1,1,0,0
41515,123418,XII - SOCCSKSARGEN,42330,Wage/Salaries,2,21142,18212,3246,5464,925,...,1,0,0,0,0,3,0,0,0,0
41516,124755,XII - SOCCSKSARGEN,75513,Wage/Salaries,2,34481,28598,3604,4479,777,...,0,0,0,0,0,2,0,0,0,0
41517,178558,XII - SOCCSKSARGEN,57970,Enterpreneurial Activities,2,21796,19602,3554,13826,1527,...,1,1,0,0,0,3,0,0,0,0
41518,113500,XII - SOCCSKSARGEN,32756,Enterpreneurial Activities,2,16396,14299,803,2028,1318,...,0,0,0,0,0,2,0,0,0,0
41519,255700,XII - SOCCSKSARGEN,33321,Other sources of Income,2,8196,6006,2496,3860,856,...,1,1,1,0,0,3,0,0,0,0
41520,695292,XII - SOCCSKSARGEN,136459,Wage/Salaries,2,42972,35484,10892,17784,2400,...,1,1,0,0,0,3,1,0,0,0
41521,267330,XII - SOCCSKSARGEN,71609,Other sources of Income,2,22668,17370,5085,12217,4804,...,0,0,0,0,0,2,0,0,0,0
41522,299856,XII - SOCCSKSARGEN,92326,Wage/Salaries,2,24887,21336,3181,8003,1240,...,1,0,0,0,0,3,0,0,0,0
41523,252448,XII - SOCCSKSARGEN,91590,Other sources of Income,2,27537,23820,7760,9823,6721,...,1,1,0,0,1,4,1,0,0,0
41524,107150,XII - SOCCSKSARGEN,64526,Wage/Salaries,2,36724,33404,2245,5998,925,...,0,0,0,0,0,2,0,0,0,0
41525,123700,XII - SOCCSKSARGEN,70580,Wage/Salaries,2,34024,28676,1475,8283,1500,...,0,0,0,0,0,2,0,0,0,0
41526,99500,XII - SOCCSKSARGEN,66595,Other sources of Income,2,33240,28312,1545,5710,1727,...,0,0,0,0,0,2,0,0,0,0
41527,156700,XII - SOCCSKSARGEN,122985,Wage/Salaries,2,55041,45738,5160,19000,2360,...,0,0,0,0,0,3,0,0,0,0
41528,103300,XII - SOCCSKSARGEN,68612,Wage/Salaries,2,23438,18504,2206,8543,2718,...,0,0,0,0,0,2,0,0,0,0
41529,95500,XII - SOCCSKSARGEN,73138,Wage/Salaries,2,29676,25296,1445,11415,2002,...,0,0,0,0,0,2,0,0,0,0
41530,80600,XII - SOCCSKSARGEN,60945,Wage/Salaries,2,20692,17887,1515,10655,1917,...,0,0,0,0,0,2,0,0,0,0
41531,257600,XII - SOCCSKSARGEN,127422,Wage/Salaries,2,35120,27327,5273,11487,6372,...,1,0,1,0,0,2,1,1,0,1
41532,382800,XII - SOCCSKSARGEN,145253,Wage/Salaries,2,46354,37564,9928,20465,2876,...,1,1,1,0,0,4,1,1,0,1
41533,153500,XII - SOCCSKSARGEN,70991,Other sources of Income,2,20025,14547,4532,8739,2837,...,0,0,0,0,0,4,1,1,0,0
41534,130950,XII - SOCCSKSARGEN,76933,Wage/Salaries,2,24304,18160,2248,17306,3255,...,0,0,0,0,0,2,0,0,0,0
41535,166600,XII - SOCCSKSARGEN,90786,Other sources of Income,2,23658,20118,4406,23539,3899,...,0,0,0,0,0,4,0,0,0,0
41536,185100,XII - SOCCSKSARGEN,87008,Other sources of Income,2,19693,15918,9145,20584,3068,...,0,1,0,0,0,2,0,1,0,0
41537,72000,XII - SOCCSKSARGEN,56760,Wage/Salaries,2,18441,15424,2017,10623,1683,...,0,0,0,0,0,2,0,0,0,0
41538,130636,XII - SOCCSKSARGEN,81469,Wage/Salaries,2,28563,23457,4728,12496,3508,...,0,1,0,0,0,3,0,1,0,0
41539,119773,XII - SOCCSKSARGEN,44875,Enterpreneurial Activities,1,23675,21542,1476,6120,1632,...,0,0,0,0,0,1,0,0,0,0
41540,137320,XII - SOCCSKSARGEN,31157,Enterpreneurial Activities,1,2691,1273,1886,4386,1840,...,0,0,0,0,0,3,0,0,0,0
41541,133171,XII - SOCCSKSARGEN,45882,Enterpreneurial Activities,2,28646,27339,480,4796,1232,...,0,0,0,0,0,1,0,0,0,0
41542,129500,XII - SOCCSKSARGEN,81416,Enterpreneurial Activities,1,29996,26655,2359,17730,2923,...,0,0,0,0,0,2,0,0,0,0
41543,128598,XII - SOCCSKSARGEN,78195,Enterpreneurial Activities,1,43485,41205,1985,7735,2062,...,0,0,0,0,0,1,0,0,0,0